body {
    background-image: url("https://cdn.discordapp.com/attachments/1005346113043316766/1150735583740706826/house.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
}

.property-title {
    font-family: Roboto;
    color: white;
    font-size: 60px;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 1vh;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.7);
    border: 5px solid green;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto; 
}

#timer-text {
    font-family: Roboto;
    font-size: 30px;
    color: white;
    text-align: center;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-controller {
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}

.property-image {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.883);
    border-radius: 15px;
    max-height: 550px;
}

.property-image:hover {
    cursor: pointer;
}

.tap-instruction {
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.527);
    padding: 7px;
    border-radius: 20px;
    transition: opacity 0.5s;
    cursor: pointer;
}

#tap-instruction-left {
    left: 1%;
}

#tap-instruction-right {
    right: 1%;
}

.property-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bedrooms-number, .bathrooms-number {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 50px;
    margin-bottom: 0;
}

#bedrooms-number-digit, #bathrooms-number-digit {
    font-family: Roboto;
    font-size: 35px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 0;
}

.bedrooms-info, .bathrooms-info {
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.bedrooms-icon, .bathrooms-icon {
    height: 50px;
    width: 50px;
    margin-top: 0;
    filter: brightness(0);
}

#bedrooms-number-text, #bathrooms-number-text {
    font-family: Roboto;
    font-size: 20px;
    color: black;
    margin-top: 0;
    font-weight: bold;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    align-items: center;
}

.dollar-sign {
    position: absolute;
    left: 20px;
    top: -11px;
    font-family: Roboto;
    color: white;
    font-size: 45px;
    line-height: 1;
    transform: translateY(-50%);
    pointer-events: none;
}

.guess-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#price-guess {
    padding: 5px;
    font-size: 40px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.455);
    font-family: Roboto;
    color: white;
    border-radius: 10px;
    border: black solid 4px;
    text-align: center;
}


#submit-guess {
    margin: 20px 0;
    background-color: green;
    color: white;
    font-family: Roboto;
    font-size: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    max-width: 300px;
    transition: transform 0.3s ease;
}

#submit-guess[disabled] {
    background-color: black;
    cursor: not-allowed;
    pointer-events: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.linkedin {
  max-height: 30px;
  max-width: 30px;
}

.github {
    max-height: 30px;
    max-width: 30px;
    margin-left: 15px;
    filter: brightness(0);
  }

.credit-name {
    font-family: Roboto;
    font-size: 20px;
    margin-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815); 
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.754);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 7px solid black;
    border-radius: 50px;
    max-width: 80%;
    text-align: center;
    font-family: Roboto;
    font-size: x-large;
    color: white;
}

#start-button, #next-button, #play-again-button, #play-new-button, #see-results-button {
    margin: 20px 0;
    background-color: green;
    color: white;
    font-family: Roboto;
    font-size: 45px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    max-width: 300px;
    transition: transform 0.3s ease;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

#start-button[disabled] {
    background-color: grey;
    pointer-events: none;
}

#see-results-button {
    background-color: rgb(0, 0, 200);
}

#start-button:hover {
    transform: scale(1.05);
}

/*Post round modal*/
#new-high-score, #perfect-score {
    background: none;
    color: yellow;
    font-weight: bolder;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@supports (-webkit-background-clip: text) {
    #new-high-score, #perfect-score {
        animation: gradientScroll 5s infinite linear;
        color: transparent;
    }
    #new-high-score {
        background: linear-gradient(45deg, red, yellow);
        background-size: 300% 300%;
        -webkit-background-clip: text;
    }
    #perfect-score {
        background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
        background-size: 300% 300%;
        -webkit-background-clip: text;
    }
}

#high-score {
    color: yellow;
}

.points-gained, .total-gained {
    font-family: Roboto;
    font-size: 75px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

#points-gained-num, #total-points-num {
    color: rgb(0, 171, 0);
    color: white;
    color: red;
    color: #FFD700;
}

.price-title {
    font-style: italic;
}

#listing-url {
    font-family: Roboto;
    color: lightblue;
}

/*End game modal*/
#play-new-button {
    background-color: rgb(66, 66, 66);
}

/* Times up modal */
.times-up {
    font-family: Roboto;
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 0;
    color: red;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .property-image {
        width: 100%;
    }

    #price-guess {
        max-width: 340px;
        font-size: 30px;
    }

    .dollar-sign {
        font-size: 35px;
        top: -7px;
    }

    .modal {
        overflow-y: scroll;
    }

    .modal-content {
        position: absolute;
        width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

@media (max-height: 850px) {
    .points-gained, .total-gained {
        font-size: 65px;
    }
    #start-button, #next-button, #play-again-button, #play-new-button, #see-results-button {
        font-size: 35px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .high-score {
        margin-top: 1vh;
        margin-bottom: 0;
    }
    h2, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: 80%;
    }
    h1 {
        font-size: 175%;
    }
}

@media (max-width: 376px) {
    #property-title {
        font-size: 50px;
    }
}

@keyframes strobe {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.strobe-effect {
    animation: strobe 0.33s infinite;
}

@keyframes gradientScroll {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}
